<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet">  
    <title>MercadoLiebre</title>
</head>
<body >
    
      <header class="fondo">
    <div class="header-top">
        <div class="logo"><img src="/images/logo-mercado-liebre.svg" width="100%"></div>
                    
<form class="search-bar">
        <input id="buscador" type="text" name="buscador" id="buscador" placeholder="Buscar productos, marcas...">
        <i id="lupa" class="fa-solid fa-magnifying-glass"></i>
    </form>
       <div class="titulo-dollar">
           <h3><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</h3>
        </div>        
    </div> 
       <nav class="menu" >
            <ul class="menu-izq">
                <li><a href="#"> Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        
            <ul class="menu-der">
                <li><a href="/register">Crea tu Cuenta<i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#">Mis Compras<i class="fa-solid fa-briefcase"></i></a></li>

            </ul>
        </nav>
        <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
    </header>

    <main>
        <form action="crear-usuario" method="post" class="createForm"></form>
        <div class="title">
            <h1>Registrate</h1>
        </div>
        <div class="control-form">
            <input type="text" name="nombre-apellido" placeholder="Nombre Apellido" class="control">
        </div>
        <div class="control-form">
            <input type="text" name="Email" placeholder= "Email" class="control">
        </div>
        <div class="control-form">
            <label for="fecha">Fecha de nacimiento</label>
            <input type="date" name="fecha" class="control">
        </div>
        <div class="control-form">
            <label for="Nacionalidad">Nacionalidad</label>
            <select name="Nacionalidad" id="" class="control">
                <option value="Argentina">Argentina</option>
               <option value="Brasil">Brasil</option>
               <option value="Chile">Chile</option>
               <option value="Peru">Peru</option>
               <option value="Paraguay">Paraguay</option>
               <option value="Uruguay">Uruguay</option>
               <option value="Bolivia">Bolivia</option>
            </select>
        </div>
        <div class="control-form">
            <label for="comprador">Comprador</label>
            <input type="radio" name="Perfil" value="Si">
            <label for="vendedor">Vendedor</label>
            <input type="radio" name="Perfil" value="No">
        </div>
        <div class="control-form">
            <label for="intereses">Intereses:</label>
            <input type="checkbox" name="intereses" value="Electro">
            <label>Electro</label>
            <input type="checkbox" name="intereses" value="Moda">
            <label>Moda</label>
            <input type="checkbox" name="intereses" value="hogar">
            <label>Hogar</label>
            <input type="checkbox" name="intereses" value="jugueteria">
            <label>jugueteria</label>
            <input type="checkbox" name="intereses" value="vida sana">
            <label>Vida Sana</label>
        </div>
        <div class="control-form">
            <label>Foto de perfil</label>
            <input type="file" name="foto" value="jpg" class="control">
        </div>
        <div class="control-form">
            <input type="password" name="Contraseña" placeholder="Contraseña" class="control">
        </div>
        <div class="control-form">
            <input type="password" name="Contraseña" placeholder="Confirmar Contraseña" class="control">
        </div>
        <div>
            <button type="submit" class="button-enviar">Enviar</button>
            <button type="reset" class="button-enviar">Borrar</button>
        </div>

    </main>
    <footer>
       
<p class="final">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>