* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-bar{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#buscador{
    border-radius: 5px;
    border: solid 2px black;
    width: 80%;
    height: 22px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
        

}
#lupa{
    background-color: #ebebeb;
    width: 12%;
    height: 22px;
    border: solid 2px black;
    margin: -4px;
    border-radius: 3px;
    text-align: center;
}

.menu{
    display: none;
}
.menu ul{
    list-style: none;
    margin:0px;
    padding: 0px;
}
.menu a {
    text-decoration: none;
    color: #222222;
    display:inline-block;
    padding: 5px 0px;
}
.menu-izq{
        font-size: 17px;
    }
    .menu-der {
        font-size: 17px;

    }
.burger-menu{
    color: rgb(251, 253, 253);
    font-size: 35px;
    bottom: auto; 
    background: #03264C;
    background-size: inherit;
    height: 40px;
    width: 40px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
  
.titulo-dollar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 22px;
    text-align: center;
}
h3{
    font-size: 16px;
    position: absolute;
    left: 30px;
    margin: auto;
  
    }

p{font-size: 12px;
line-height: 20px;
}

.titulares {font-size: 24px;}

.precio{font-size: 18px;
width: 30%;
}
.descuentos{font-size: 16px;
    color: green;
    width: 70%;
    
}
.productos {
    font-size: 16px;
    opacity: 0.4;
    line-height: 40px;
     ;
}

.fondo{
    background-color: #EAC926;
    width: 100%;
    }
.logo{
    max-width: 50%;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
}
section{
    width: 100%;
}
main{
    width: 90%;
    margin: auto;
}
.ofertas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.ultima-visita{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    color:#39b54a;
    position: relative;
    left: 260px;
    margin-top: -5px;
    }
.contenedor01{
    width: 100%;
    padding: 15px;
    border-top: solid 1px #ebebeb;
    display: flex;
    flex-wrap: wrap;
    
}
.contenedor0101{
    width: 100%;
    padding:15px;
    border-top: solid 5px #ebebeb;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
        ;
}
footer{
    text-align: center;
    line-height: 20px;
    }
#icono{
    font-size: 2em;
    color: #03264C;
    transition: all 450ms;
    }
    #icono:hover {
        color: #0022AA;
        width: 105px;

    }
.final{
    opacity: 0.8;
    text-align: left;
}
article{
    line-height: 10px;
    
}
.createForm{
    padding: 20px 15px;
    display: block;
}
.control-form{
    margin-bottom: 15px;
    font-size: 20px;
    box-shadow: 0px 0px 2px rgb(100 100 100);
}
.control{
    width: 100%;
    padding: 8px;
}
.title{
    color:#03264C;
    text-align: center;
}
.button{
    text-align: center;
}
.button-enviar{
    font-size: 22px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: #03264C;
    color: #ebebeb;
    transition: all 450ms;
}
.button-enviar:hover{
    background-color: #0022AA;
    width: 105px;
    } 

@media(min-width: 481px ) {
    .header-top{
        display: flex;
        justify-content: space-between;
        width: 100%;
       }
    .logo{
        width: 30%;
    }
    .search-bar{
        width: 30%
    }
    #buscador{
        border-radius: 5px;
    border: solid 2px black;
    width: 100%;
    height: 22px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
        
    }
    .titulo-dollar{
        width: 30%;
    }
    
  
   .menu{
    display:flex;
    justify-content: space-between;
       }
   .menu ul {
    display: flex;
   }
   .menu li{
     display: flex ;
     margin: 0px 5px;
   }
    .burger-menu{
        display: none;
    }
    #truck{
        left: 300px;
    }
    .contenedor01{
        box-shadow: 0px 0px 10px rgb(100,100,100);
        width: 48%;
        
    }
    .ultima-visita{
        display: flex;
        flex-grow: 100%;
        gap: 15px;
        justify-content: center;
    }
    .ofertas{
        display: flex;
        justify-content: 50%;
        gap: 15px;
        justify-content: center;
    }

}

@media(min-width:769px){
    
    .menu{
        display: flex;
        justify-content: space-between;
    }
    .menu ul {
        display: flex;
       }
    .menu li{
         display: flex ;
         margin: 0px 5px
    }
    .logo{
        max-width: 30%;
    }
    .header-top{
        display: flex;
        flex-direction: row;
        align-items: center;

    }
    #buscador{
        border-radius: 5px;
        border: solid 2px black;
        width: 100%;
        height: 30px;
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
    }
    #lupa{
        height: 30px;
    }
    .titulo-dollar{
        width: 30%;}
    

    .burger-menu{
        display: none;
    }
    .contenedor01{
        box-shadow: 0px 0px 10px rgb(100,100,100);
        width: 23%;
    }
 
    .ultima-visita{
        display: flex;
        justify-content: center;
        
    }
    .ofertas{
        display: flex;
        justify-content: center;
    }
    #truck{
        left: 180px;
    }
    .titulares{
       margin: 15px 15px;
    }
    .contenedor0101{
        width: 100%;
    }
    .descuentos{
        width: 40%;
    }
    .precio{
        width: 60%;
    }
    footer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    .footer{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .footer-flex{
        width: 30%;
    }
    .footer-final{
        width: 100%;
       ;
    }
}
